// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
	.container {
		margin-left: 0;
		margin-right: 0;
	}
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
	margin-bottom: 0;
}

.container-fluid {
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

.nav-style {
	background: #3e4149;
	color: white;
}

.navbar {
	padding: 0.75rem;
}

.navbar-brand {
	color: white;
}

.nav-link {
	color: white;
}
